<div class="container">
    <div id="app-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Project Manager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto pointer">
                    <!-- <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/projects']">
                            Add Project <span class="sr-only">(current)</span>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/projects']">
                            Add Project
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/users']">
                            Add User
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/tasks', routePath.ADD_TASK]">
                            Add Task
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/tasks', routePath.VIEW_TASK]">
                            View Task
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="app-body" class="row">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>