<div class="col-md-12 mt-3">
    <div class="card">
        <div class="card-header">
            <div class="float-left">
                <h5>
                    <strong>Users List</strong>
                </h5>
            </div>
            <div class="float-right">
                <button class="btn btn-sm btn-primary" (click)="addNewUser(saveUserTemplate)">
                    Add User
                </button>
            </div>
        </div>
        <div class="card-body">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border table table-sm hover">
                <thead>
                    <tr>
                        <th>Employee Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th data-orderable="false">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td class="text-center" style="width: 20%;">{{ user.EmployeeId }}</td>
                        <td style="width: 30%">{{ user.FirstName }}</td>
                        <td style="width: 30%">{{ user.LastName }}</td>
                        <td style="width: 20%">
                            <button class="btn btn-sm btn-secondary mr-1" (click)="editUser(user)">Edit</button>
                            <button class="btn btn-sm btn-secondary" (click)="removeUser(user.UserId)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #saveUserTemplate>
    <div class="col-md-12">
        <div class="modal-header">
            <h5 class="modal-title">{{userSaveType}} User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeSaveUserModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="userForm" class="col-md-12" [formGroup]="userForm" (ngSubmit)="submitUserForm(userForm)">

                <div class="form-group row required">
                    <label class="col-md-4 col-form-label" for="FirstName">First Name</label>
                    <div class="col-md-6">
                        <input id="txtFirstName" name="FirstName" class="form-control form-control-sm" type="text"
                            formControlName="FirstName" autocomplete="off"
                            [class.is-invalid]="UserForm['FirstName'].touched && UserForm['FirstName'].invalid">
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-4 col-form-label" for="LastName">Last Name</label>
                    <div class="col-md-6">
                        <input id="txtLastName" name="LastName" class="form-control form-control-sm" type="text"
                            formControlName="LastName" autocomplete="off"
                            [class.is-invalid]="UserForm['LastName'].touched && UserForm['LastName'].invalid">
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-4 col-form-label" for="EmployeeId">Employee Id</label>
                    <div class="col-md-6">
                        <input id="txtEmployeeId" name="EmployeeId" class="form-control form-control-sm" type="text"
                            formControlName="EmployeeId" autocomplete="off" OnlyNumber="true"
                            [class.is-invalid]="UserForm['EmployeeId'].touched && UserForm['EmployeeId'].invalid">
                    </div>
                </div>

                <div class="form-group row col-md-7 float-right">
                    <div class="col-md-4">
                        <button class="btn btn-sm btn-success">{{userSaveType}}</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-sm btn-secondary" type="button" (click)="resetUserForm()">Reset</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</ng-template>